{% extends 'base.html' %}

{% block Title %}{{ article.title }}{% endblock Title %}

{% block Content %}
<div class="article-entry">
    <h2>{{ article.title }}</h2>
    <p>Published on {{ article.date }} by {{ article.author }}</p>
    <p>{{ article.body|linebreaks  }}</p>
</div>
<div>
    {% if article.author.pk == request.user.pk %}
    <p>
        <a href="{% url 'articles_update' article.pk %}">Edit</a>
        <a href="{% url 'articles_delete' article.pk %}">Delete</a>
    </p>
    {% endif %}
    <p>Back to <a href="{% url 'articles_list' %}">home</a></p>
</div>
{% endblock Content %}