{% extends 'base.html' %}

{% block Title %}Home Page{% endblock Title %}

{% block Content %}
    {% if user.is_authenticated  %}
        <p>Hi {{ user.first_name }}, You are {{ user.age }} years old</p>
        <p><a href="{% url 'logout' %}">Log Out</a> </p>
        <a role="button" class="btn btn-primary" href="{% url 'articles_list' %}">View all articles</a>
    {% else %}
        <p>Please <a href="{% url 'login' %}">Login</a> </p>
        <p>Create a new <a href="{% url 'signupPage' %}">account</a> </p>
        
    {% endif %}
{% endblock Content %}